$primary-red: rgb(163, 0, 16);
$light-red: rgb(209, 127, 144);

$primary-grey: #555;
$primary-grey-text: #000;

$light-grey: #777;
$light-grey-text: #222;

body {
  color: white;
  background: black;
}