@import 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
table, .fappu {
  width: 100%;
  height: 100%;
}
html, body {
  overflow: hidden;
  width: 100%; height: 100%;
}
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
@import 'header';
@import 'tags';
@import 'settings';
@import 'results';

.page {
  height: 100%;
  width: 100%;
  padding-top: 5px;
}

.viewer {
  background: black;
  display: flex;
}
.sidebar {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  width: 140px;
  text-align: center;
}
.sidebar-thumb {
  position: relative;
  display: block;
  cursor: pointer;
  height: 196px;
  width: 140px;
  border: 5px solid transparent;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sidebar-thumb input {
  position: absolute;
  left: 0;
  top: 0;
  height: 196px;
  width: 140px;
  opacity: 0;
  z-index: -2;
}
.sidebar-thumb.selected {
  border-color: #555;
}

#viewer-content {
  flex-grow: 1;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  background-size: contain;
}

.back-button {
  display: inline-block;
  background: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  width: 100%;
  height: 100%;
}

#sidebar-tools {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 2ex;
  text-align: center;
}

#sidebar-tools form {
  flex-grow: 1;
  color: $primary-grey;
  background: $primary-grey-text;
  cursor: pointer;
  padding: 3px;
  border: none;
  transition: background 0.1s, color 0.1s;
}
.back-button button:focus, #parent button:hover {
  background: $light-grey;
  color: $light-grey-text;
  outline: none;
}