.page.results {
  display: flex;
  flex-direction: row;
  
  #results {
    overflow: auto;
    flex-grow: 1;
    max-height: 100%;
    vertical-align: top;
    
    .content-preview {
      margin: 1em;
      display: flex;
      flex-direction: row;
      
      .content-name {
        font-size: 1.3em;
        color: $light-red;
        text-decoration: underline;
      }
      
      .content-meta {
        flex-grow: 1;
        padding: 0.3em;
      }
    }
  }
  
  .content-image {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }
  
  hr {
    margin: 1em 0;
  }
  
  .content-tag {
    margin-right: 1ex;
  }
  
  form {
    display: inline-block;
  }
  
  button {
    background: inherit;
    color: inherit;
    font-size: inherit;
    border:none;
    cursor: pointer;
  }
}