.page.results {
  overflow: auto;
  display: flex;
  flex-direction: row;
  
  #results {
    flex-grow: 1;
    height: 100%;
    vertical-align: top;
    
    .content-preview {
      margin: 1em;
      width: 200px;
    }
  }
  
  form {
    display: inline-block;
  }
  
  button {
    background: inherit;
    color: inherit;
    font-size: inherit;
    border:none;
  }
}